/*Importing default angular material css theme. */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "nDefaults.scss";

$lightGreyColor: #c0c1c5;

.toolBarContainer{
    height: 9vh;
}
.toolBarImg{
    width: 190px;
    height: 50px;
}
.toolBarImgResized{
    width: 30px;
    height: 50px;
}
.lightGreyColor{
    color: $lightGreyColor;
}
.cursor{
    cursor: pointer;
}
.toolBarInput{
}
.mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0em !important;
}
.mat-form-field-prefix .mat-icon, .mat-form-field-suffix .mat-icon {
    color: #c0c1c5;
}
.mat-form-field-appearance-legacy .mat-form-field-label {
    color: #c0c1c5 !important;
}
.mat-form-field-flex {
    display: inline-flex;
    align-items: end !important;
    box-sizing: border-box;
    width: 100%;
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: rgb(0 0 0 / 0%) !important;
}
.mat-form-field-infix {
    padding: .5em 0;
    border-top: 0em solid transparent !important;
}
.toolBarBorderRight{
    border-right: 2px solid #d9d9e2;
    height: 48px;
}
.sideNavContainer{
    height: 91vh;   
    background: #f7f9ff;
}
.mat-drawer-backdrop.mat-drawer-shown {
    background-color: #f7f9ff !important;
}
.padding{
    padding: 30px 0px 0px 0px;
}
.side-nav-width-resized{
    width: 100px !important;
}
.main-content-wrapper{
    width: 90% !important;
}
.sideContainer{
    width: 15%;
    background-color: #192235;
}
.sideContainerImg{
    width: 50px;
    height: 50px;
    padding-top: 28px;
}
.manisureshText{
    font-family: sans-serif;
    color: #637280;
    font-size: 16px;
}
.darkGreyColor{
    color: #637280;
}
.sideNavIcon{
    width: 23px;
    height: 25px;
}
.sideNavText{
    font-size: 18px;
    font-family: Poppins;
    color: #637280;
}
.activeSideNavText{
    font-size: 18px;
    font-family: Poppins;
    color: #ffffff;
}
.active{
    background: red;
    padding: 5px 34px;
    border-radius: 14px;
    text-align: center;
    color: white !important;
    .draft{
        position: relative;
        top: 2px;
    }

}
.networkContainer{
    margin-right: 12px;
    font-size: 24px;
    font-family: sans-serif;
    color: #303030;
}
.draft{
    font-size: 14px;
    font-family: sans-serif;
    color: #707070;
}
.transperantImg{
    height: 2px;
}
.draftTable{
    td.mat-cell {
    // border-top: 1px solid black;        
    // border-bottom: 2px solid black;
  }

   td.mat-cell:last-child {
    
    border-radius: 0px 10px 10px 0px;
  }
  .mat-header-row, [mat-header-row]{
      background: #f7f9ff !important;
  }
  .mat-table thead, .mat-table tbody, .mat-table tfoot,  mat-row, mat-footer-row, [mat-row], [mat-footer-row], .mat-table-sticky {
    background: white !important;
    cursor: pointer;
  }
  .mat-row:hover{
        background: black !important;
        color: white !important;
  }
   td.mat-cell:hover{
    color: white !important;
  }

  .mat-paginator-container {
    background: #f7f9ff !important;
}
  td.mat-cell:first-child {
    border-radius: 10px 0px 0px 10px;
  }
  table {
  border-spacing: 0 7px !important;
  }
  .mat-table {
    background: #f7f9ff !important;
  }
}
.borderBottom{
    border-bottom: 2px solid #ecf1ff;
}
.greenColor{
    background: #3acba0;
}
.blackColor{
    background: black;
}
.orangeColor{
    background: #ffab1e;
}
.redColor{
    background: #ed1c24;
}
.tableBorderRadius{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.abhijihIcon{
    width: 20px;
    height: 20px;
}
.abhijihText{
    font-family: sans-serif;
    font-size: 17px;
    color: #080808;
}
.greenCircle{
    width: 10px;
    height: 10px;
    background-color: #3acba0;
    border-radius: 50%;
}
.fontSize{
    font-size: 12px;
    color: #707070;
    font-family: sans-serif;
}
.backGroundColorRed{
    background-color: red;
    width: 42.8px;
    height: 6.2px;
    border-radius: 3px;
}
.backGroundColorBlack{
    width: 42.8px;
    height: 7.2px;
    background-color: black;
    border-radius: 3px;
}
.progress37red{
    width: 19.9px;
    height: 6.2px;
    margin: 0 28.9px 0 0;
    background-color: #ed1c24;
    border-radius: 3px 0px 0px 3px;
}
.position{
    position: relative;
    bottom: 6.6px;
}
.textColor{
    color: #707070;
}

.border{
    border: 1px solid #ececec;
}
.mapContainer{
    width: 431px;
    height: 292px;
}
.mapText{
    color: #080808;
    font-family: sans-serif;
    font-size: 15px;
}
.dottedBorder{
    border-left: 1px dotted black;
    height: 61px;
}
.locationImg{
    width: 46.3px;
    height: 46.3px;
}
.dateIcon{
    font-size: 22px;
    color: #929292;
}
.serviceBorderBottom{
    border-bottom: 1px solid #ececec;
}
.serviceNumber{
    color: #303030;
}
.numberBorder{
    border-radius: 50%;
    border: 2px solid #707070;
    width: 18px;
    height: 18px;
    text-align: center;
}
.marketContainer{
    width: 234px;
    height: 139.2px;
}
.subCat{
    font-size: 10px;
    color: rgb(193 193 193);
    font-weight: 700;
}
.vehicle{
    font-size: 18px;
}
.whiteColor{
    color: white;
}
.borderRed{
  width: 99px;
  border: solid 1px #ed1c24;
}
.borderBlack{
    width: 242px;
    border: solid 1px #707070;
}
.redBorderBottom{
    width: 20px;
    border-bottom: 2px solid red;
    position: relative;
    top: 20px;
}
.marginTop{
    margin-top: 12px;
}
.cardHeight{
    height: 592px;
}
.fontSizeContainer{
    font-size: 20px;
}
.download{
    width: 47.7px;
    height: 47.7px;
}
.myTable{
   td.mat-cell {
 /* row padding */
  padding: 18px 0; 
  }
}
.mySecondTable{
    td.mat-cell {
 border-bottom: 2px dotted black;
}

td.mat-cell:first-child {
  border-right: 1px solid black;
}
.uploadIcon{
    color: #3acba0;
}

table {
  border-spacing: 0 8px !important;
} 
}
.tableTextpadding{
    padding-left: 15px
}
.servTableTxtlightGreyColor{
    color: #afafaf;
}
.servTableTxtFontSize{
    font-size: 10px;
}
// .tableColumnWidth{
//     width: 15%;
// }
.buttonContainer{
    border-radius: 34px !important;
    background: #f1f1f1;
    width: 127.7px;
}
.dialoBottomgBorder{
    border-bottom: 1px solid black;
}
.btnDialogPosition{
    position: absolute;
    bottom: 12px;
    right: 7px;
}
.dialogCardHeight{
    height: 100%;
}
.btnBackground{
    background: #f1f1f1;
}
.btnContainer{
    .mat-raised-button:not([class*=mat-elevation-z]) {
    box-shadow: red !important;
}

}
.contentAlignCenter{
    place-content: center !important;
}